#home p {
  font-size: 18px;
  color: #fff;
}
#home ul {
  text-align: left;
  display: inline-block;
}
#home ul li {
  color: #fff;
}
#home img {
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}