section#projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#projects::after {
  content: "";
  flex: auto;
}
section#projects a {
  width: 100%;
  text-decoration: none;
  color: #000;
}
section#projects article {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

section#projects article img {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
section#projects h2 {
  margin-top: 0;
}
section#projects p.skills {
  font-size: 12px;
  margin-top: -15px;
}

section#projects i {
  font-size: 36px;
  margin-right: 20px;
  color: #009688;
}

@media (min-width: 768px) {
  section#projects article {
    width: 49%;
  }
  section#projects article:last-child {
    margin-left: 2%;
  }
}

@media (min-width: 992px) {
  section#projects article {
    width: 32%;
  }
  
}